<app-header></app-header>
<div class="container">
    <div class="title">Due soon : </div>
    <div class="container">
        <div id="bb" class="card mb-3" 
        *ngFor="let ticket of tickets"
        [ngClass]="{'border-ip': ticket.status === 'In Progress',
        'border-o': ticket.status === 'Open'}" >
        
            <div class="card-body" (click)="allerVersTicket(ticket.idT)" >
                <h5 class="card-title">{{ticket.title}}</h5>
                <div class="card-subtitle">
                    <h5>Due to : {{ticket.dueTo}}</h5>
                </div>
                <div class="d-flex align-items-center mb-2">
                <!--img id="img"
                    [src]="" 
                    alt="User" 
                    class="rounded-circle me-2" 
                -->
                <span>{{ ticket.assignedTo }}</span>
                </div>

                <p class="card-text">
                <strong>Description :</strong><br>
                {{ ticket.description }}
                </p>
            </div>
        </div>
    
    </div>
</div>
