<div class="ticket-form">
  <form (ngSubmit)="sendT()">

    <h2>Create a Ticket</h2>

    <!-- Title -->
    <label class="form-label" for="title">Title of the ticket</label>
    <input required name="title" id="title" type="text" [(ngModel)]="ticket.title" placeholder="title" />

    <!-- Description -->
    <label class="form-label" for="description">Description</label>
    <textarea required name="description" id="description" [(ngModel)]="ticket.description" placeholder="description"></textarea>

    <!--dueTo-->
    <label class="form-label" for="dueTo">Due To</label>
    <input required type="date" name="dueTo" id="dueTo" [(ngModel)]="ticket.dueTo" #dueToInput="ngModel">
    <div *ngIf="ticket.dueTo < today">
      <span class="error">Due date cannot be in the past.</span>
    </div>


    <!-- Assigned to -->
    <label class="form-label">Assigned to
    <div class="assigned">
      <select required [(ngModel)]="dept" name="dept" (change)="getE(dept)" >
        <option value="">Department</option>
        <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
      </select>

      <select required [(ngModel)]="ticket.assignedTo" name="emp">
        <option class="" value="">Employees</option>
        <option *ngFor="let emp of employees" [value]="emp">{{ emp }}</option>
      </select>
    </div></label>

    <!-- File attachment 
    <label>Attached files</label>
    <div class="file-box" (click)="fileInput.click()">
      <input type="file" #fileInput (change)="onFileSelected($event)" hidden multiple />
      <span *ngIf="files.length === 0">+</span>
      <ul *ngIf="files.length > 0">
        <li *ngFor="let file of files">{{ file.name }}</li>
      </ul>
    </div> -->

    <!-- Buttons -->
    <div class="actions">
      <button type="submit" class="btn-check send" (click)="sendT()">Send</button>
      <button type="reset" class="btn-danger abandon" (click)="abandon()">Abandon</button>
    </div>
  </form>
</div>
  